@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');

.main {
    width: 90%;
    margin: 50px auto;
    text-align: center;
    color: white;
}

p, button{    
    font-family: 'Urbanist';
    color: rgba(0, 0, 0, 0.25)
}

#yeni, #ku, #bek, #fabi {
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 0px;
}

:not(#yeni, #bek, #ku, #fabi, .material-icons) {
    margin-top: 10px;
    margin-bottom: 50px;
}

svg{
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    filter: opacity(0.5);
    margin-top: 0 !important;
    
    background-size: cover;
}

.jover:hover{
    color: rgba(0, 0, 0, 0.50)
}

.dark{
    background-color: #000000d1;
}

.dark p, .dark button{
    color: rgba(255,255,255,0.50)
}

.dark p:hover, .dark button:hover{
    color: rgba(255,255,255,0.75)
}

#darkbtn{
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 0;
}

#darkbtn span{
    font-size: 7vw;
}

@media (max-width: 600px) {
    #yeni, #ku, #bek, #fabi {
        font-size: 12vw;
    }
  }